h3 {
    font-family: "Oswald","Noto Sans", Verdana,"Helvetica",sans-serif; font-weight: 400; margin-top: 20px; margin-bottom: 10px;
}
td {
    vertical-align: top;
}

.list.discussion dt {
    float: none;
}

.list.discussion .sigle {
    font-variant: small-caps;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: inherit;
}

.entry h4 {
    margin-bottom: 0;
    font-weight: 400;
    color: var(--bss-color-red);
}