.cbeta {
    color: orange;
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--bss-color-lb);
}

.lemma {
    background-color: var(--bss-color-lemma);
    color: var(--pb-color-inverse);
}

.note.lemma {
    padding: 0 4px 0 4px;
    color: var(--pb-color-inverse);
}

.cblb {
    display: none;
}

.cblb.toggle {
    display: inline;
}

.rdg + .rdg::before {
    content: "，";
}

.witness + .witness::before {
    content: "; ";
}

.witDetail::before {
    content: ", ";
}

.titleInfo {
    font-variant: small-caps;
}

.abbr {
    display: block;
    text-align: right;
}

[lang=zh] .abbr::before {
    content: '（';
}

[lang=zh] .abbr::after {
    content: '）';
}

figcaption {
    text-align: right;
    font-size: var(--pb-footnote-font-size);
}

.site {
    columns: 2;
}

.site h1, .site h2, .site figure.full, .site figure.center {
    column-span: all;
}

h1, h2, h3, h4 {
    font-family: var(--bss-serif-font-family);
    font-weight: 400;
}