.table-grid .taisho {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: var(--pb-footnote-font-size);
}

.table-grid [data-column-id="id"] {
    font-size: var(--pb-footnote-font-size);
}

.table-grid [data-column-id="title"] {
    font-variant: small-caps;
}

.table-grid [data-column-id="copy"] {
    font-size: 0;
}
