@import url("theme.css");
app-header {
    background-image: url("../images/webpage-start-background.jpg");
    background-size: contain;
}

.logo {
    background-image: url("../images/logo.jpg");
}

.splash {
    background-image: url("../images/logo.jpg");
}

body {
    --pb-logo-image-width: 234px;
    --pb-logo-image-height: 60px;
    --pb-base-font-family: "Noto Sans TC", sans-serif;
    --pb-content-font-family: "Noto Sans TC", sans-serif;
    --pb-content-font-size: 20px;
    --pb-menubar-background-color: #ffffff;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-toolbar-background-color: rgba(0, 0, 0, .4);
    --pb-toolbar-color: var(--pb-color-inverse);
    --grid-height: calc(100vh - 128px);
    --pb-svg-height: calc(var(--grid-height) - 72px);
    --pb-panel-max-height: var(--grid-height);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: var(--pb-logo-image-width);
    height: var(--pb-logo-image-height);
    cursor: pointer;
}

.toolbar pb-view {
    --pb-view-max-width: calc(100vw - 128px);
}

.content-body {
    display: grid;
    height: var(--grid-height);
    grid-template-columns: minmax(256px, 20vw) auto minmax(360px, 33vw);
}

#variants {
    font-family: var(--pb-content-font-family);
    font-size: var(--pb-content-font-size);
}

#catalog, pb-panel {
    max-height: var(--pb-grid-height);
}

#transcription, #translation, #taisho, #catalog {
    overflow: auto;
}

pb-svg {
    height: 100%;
}

#transcription, #taisho {
    height: calc(var(--grid-height) - 70px);
}

pb-leaflet-map {
    margin-top: 2em;
    width: 100%;
    height: 360px;
}

ul.variants {
    list-style: none;
    margin: 0;
    padding: 0;
}