<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&amp;family=Oswald&amp;display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="resources/css/stonesutras-theme.css"/>
        <link rel="stylesheet" href="transform/stonesutras.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
        <script src="resources/scripts/app.js"/>
        <style>
            main.content-body {
                display: grid;
                height: var(--grid-height);
                grid-template-columns: minmax(40vw, auto) minmax(30vw, 1fr) minmax(30vw, 460px);
                margin: 0 20px;
                max-width: auto;
            }

            main.content-body div {
                overflow: auto;
            }
        </style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" url-template="cbeta.html" url-ignore="path,odd">
            <pb-document id="document1" path="docs/Anyue/WFY_33_Diamond.xml" view="single" odd="stonesutras"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                            <h3>
                                <pb-i18n key="document.contents">Contents</pb-i18n>
                            </h3>
                            <pb-load id="toc" url="api/document/{doc}/contents?target=transcription&amp;icons=true" expand="expand" src="document1" subscribe="toc" load-once="load-once"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
                        </div>
                    </pb-drawer>
                    <section class="breadcrumbs">
                        <pb-view id="title-view1" src="document1" odd="catalog" view="single" map="catalog">
                            <pb-param name="mode" value="breadcrumbs"/>
                        </pb-view>
                    </section>
                    <main class="content-body">
                        <div class="transcription-wrapper">
                            <h4>Transcription</h4>
                            <pb-view id="transcription" lang="zh" src="document1" xpath="//text/body/div[@xml:lang='zh']" view="single" column-separator=".tei-cb" history="history" append-footnotes="append-footnotes"
                                subscribe="transcription" emit="transcription" disable-history="">
                                <pb-param name="mode" value="synoptic"/>
                            </pb-view>
                        </div>
                        <div class="transcription-wrapper">
                            <h4>CBeta</h4>
                            <pb-view id="taisho" lang="zh" src="document1" map="cbeta" view="single" append-footnotes="append-footnotes"
                                odd="cbeta" subscribe="transcription" emit="cbeta" wait-for="#transcription" disable-history="">
                            </pb-view>
                        </div>
                        <div class="transcription-wrapper">
                            <h4>Variants</h4>
                            <pb-load id="variants" url="api/variants" event="pb-refresh" subscribe="variants"/>
                        </div>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>