<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger"><pb-i18n key="menu.admin.title">Admin</pb-i18n></h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
        </pb-media-query>
    </div>
</app-drawer>