<main class="bibliography">
    <pb-table-grid class="table-grid" source="api/bibliography/json" css-path="../css/gridjs" resizable=""
        fixed-header="" search="" subscribe="transcription" emit="transcription" per-page="30">
        <pb-table-column label="Sigla" property="title" sort="" width="12rem" />
        <pb-table-column label="References" property="full_reference" sort="" width="100rem" />
        <pb-table-column label="Copy" property="copy" sort="" width="3rem" />
    </pb-table-grid>

</main>