<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="resources/css/stonesutras-theme.css"/>
        <style>
            main {
                max-width: var(--pb-view-max-width);
                margin: 20px auto;
            }
        </style>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <script src="resources/scripts/app.js"/>
    </head>

    <body class="inscriptions">
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json"
            require-language="" supported-languages="en, zh_CN">
            <script id="appConfig" type="application/json" data-template="pages:parse-params">
                {
                    "app": "${app}"
                }
            </script>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <p data-target="breadcrumbs" class="breadcrumbs">Inscriptions</p>
                        </app-toolbar>
                    </app-header>
                    <main>
                        <pb-custom-form class="facets" url="api/search/catalog-facets" event="pb-results-received" subscribe="transcription" emit="transcription"></pb-custom-form>
                        <pb-table-grid class="table-grid" source="api/inscriptions/json" css-path="../css/gridjs" resizable=""
                            fixed-header="" search="" subscribe="transcription" emit="transcription" per-page="30">
                            <pb-table-column label="ID" property="id" sort="" width="8rem"></pb-table-column>
                            <pb-table-column label="Site" property="site" sort=""></pb-table-column>
                            <pb-table-column label="Title" property="title"></pb-table-column>
                            <pb-table-column label="Taisho" property="taisho"></pb-table-column>
                            <pb-table-column label="Dating" property="date"></pb-table-column>
                        </pb-table-grid>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>