<main class="characters">
    <pb-table-grid class="table-grid" source="api/character_new" css-path="../css/gridjs" resizable="" fixed-header=""
        search="" subscribe="transcription" emit="transcription" per-page="50">
        <pb-table-column label="Char" property="character" sort="" width="8rem" />
        <pb-table-column label="Image" property="image" sort="" width="10rem" />
        <pb-table-column label="Column/Row" property="columnrow" sort="" width="9rem" />
        <pb-table-column label="Height/Width" property="heightwidth" sort="" width="11rem" />
        <pb-table-column label="condition" property="condition" sort="" width="12rem" />
        <pb-table-column label="Source" property="source" sort="" width="10rem" />
        <pb-table-column label="Date" property="date" sort="" width="8rem" />
    </pb-table-grid>
</main>