<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="resources/css/stonesutras-theme.css"/>
        <link rel="stylesheet" href="transform/stonesutras.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
        <script src="resources/scripts/app.js"/>
    </head>

    <body class="site">
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json"
            require-language="" supported-languages="en, zh_Hant">
            <script id="appConfig" type="application/json" data-template="pages:parse-params">
                {
                    "app": "${app}"
                }
            </script>
            <pb-document id="site" odd="stonesutras" data-template="app:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <pb-view data-target="breadcrumbs" id="title-view1" src="site" view="single" odd="catalog" map="site"
                                not-found="" disable-history="">
                                <pb-param name="mode" value="site"/>
                                <pb-param name="app" value="${app}/" data-template="pages:parse-params"/>
                                <pb-param name="data-root" value="${data-root}/" data-template="pages:parse-params"/>
                            </pb-view>
                            <pb-zoom data-target="toolbar-util" emit="transcription" direction="in" icon="icons:zoom-in"/>
                            <pb-zoom data-target="toolbar-util" emit="transcription" direction="out" icon="icons:zoom-out"/>
                            <!-- Search input -->
                            <pb-search data-target="toolbar-util" action="${app}/search.html" data-template="pages:parse-params" value="${query}" redirect="redirect"/>
                        </app-toolbar>
                    </app-header>
                    <main class="content-body">
                        <pb-view src="site" view="single" map="language" use-language="" disable-history="" append-footnotes="append-footnotes"
                            not-found="No site description available yet!" subscribe="transcription" emit="transcription" wait-for="#map">
                            <pb-param name="data-root" value="${data-root}/" data-template="pages:parse-params"/>
                        </pb-view>
                        <pb-leaflet-map id="map" subscribe="catalog" zoom="14" crs="EPSG3857" fit-markers="" cluster="">
                            <pb-map-layer base="" label="Mapbox OSM" url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw"
                                attribution='© &lt;a href="https://www.mapbox.com/about/maps/"&gt;Mapbox&lt;/a&gt; © &lt;a href="http://www.openstreetmap.org/copyright"&gt;OpenStreetMap&lt;/a&gt; &lt;strong&gt;&lt;a href="https://www.mapbox.com/map-feedback/" target="_blank"&gt;Improve this map&lt;/a&gt;&lt;/strong&gt;'
                                max-zoom="18" zoom="13" tile-size="512"></pb-map-layer>
                            <pb-map-layer base="" show="" label="ESRI World Imagery" url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
                                attribution='© Esri - © Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'></pb-map-layer>
                            <pb-map-layer base="" label="OpenStreetMap" url="https://tile.openstreetmap.org/{z}/{x}/{y}.png" attribution="©&lt;a href=&#34;https://www.openstreetmap.org/copyright&#34;&gt;OpenStreetMap&lt;/a&gt; contributors"/>    
                            <pb-map-layer label="Southern and Northern Dynasties" url="https://gis.sinica.edu.tw/ccts/file-exists.php?img=ad0497-png-{z}-{x}-{y}" 
                                attribution="Map tiles © Academia Sinica - Chinese Civilization in Time and Space"/> 
                            <pb-map-layer label="Sui Dynasty" url="https://gis.sinica.edu.tw/ccts/file-exists.php?img=ad0612-png-{z}-{x}-{y}" 
                                attribution="Map tiles © Academia Sinica - Chinese Civilization in Time and Space"/>  
                            <pb-map-layer label="Tang Dynasty" url="https://gis.sinica.edu.tw/ccts/file-exists.php?img=ad0741-png-{z}-{x}-{y}" 
                                attribution="Map tiles © Academia Sinica - Chinese Civilization in Time and Space"/>  
                            <pb-map-layer label="Tang Admin" url="https://gis.sinica.edu.tw/ccts/file-exists.php?img=Tang_Admin-png-{z}-{x}-{y}" 
                                attribution="Map tiles © Academia Sinica - Chinese Civilization in Time and Space"/> 
                            <pb-map-layer label="Tang Traffic" url="https://gis.sinica.edu.tw/ccts/file-exists.php?img=Tang_TrafficRoute-png-{z}-{x}-{y}" 
                                attribution="Map tiles © Academia Sinica - Chinese Civilization in Time and Space"/>                          
                        </pb-leaflet-map>
                        <div id="documents">
                            <h2><pb-i18n key="inscriptions"></pb-i18n></h2>
                            <pb-load url="api/inscriptions/${site}" subscribe="documents" emit="documents" data-template="pages:parse-params" auto=""/>
                        </div>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>