<app-toolbar class="toolbar" sticky="sticky">
    <div id="breadcrumbs" style="display: none"></div>
    <pb-restricted login="login">
        <pb-ajax subscribe="transcription" emit="transcription" url="api/odd" method="post" data-template="pages:parse-params" event="pb-refresh" title="Recompile ODD" data-i18n="[title]menu.admin.recompile">
            <h3 slot="title"><pb-i18n key="menu.admin.recompile"/></h3>
            <paper-icon-button icon="icons:refresh"/>
        </pb-ajax>
    </pb-restricted>
    <div id="toolbar-util" style="display: none"></div>
    <pb-navigation emit="transcription" keyboard="left" subscribe="transcription" direction="backward" unit="page">
        <paper-icon-button icon="icons:chevron-left"/>
    </pb-navigation>
    <pb-navigation emit="transcription" keyboard="right" subscribe="transcription" direction="forward" unit="page">
        <paper-icon-button icon="icons:chevron-right"/>
    </pb-navigation>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
</app-toolbar>