<app-toolbar class="toolbar" sticky="sticky">
    <pb-view id="title-view1" src="document1" odd="catalog" view="single" map="catalog">
        <pb-param name="mode" value="breadcrumbs"/>
        <pb-param name="app" value="${app}/" data-template="pages:parse-params"/>
    </pb-view>
    <pb-restricted login="login">
        <pb-ajax subscribe="transcription" emit="transcription" url="api/odd" method="post" data-template="pages:parse-params" event="pb-refresh" title="Recompile ODD" data-i18n="[title]menu.admin.recompile">
            <h3 slot="title"><pb-i18n key="menu.admin.recompile"/></h3>
            <paper-icon-button icon="icons:refresh"/>
        </pb-ajax>
    </pb-restricted>
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
    <pb-navigation emit="transcription" keyboard="left" subscribe="transcription" direction="backward" unit="page">
        <paper-icon-button icon="icons:chevron-left"/>
    </pb-navigation>
    <pb-navigation emit="transcription" keyboard="right" subscribe="transcription" direction="forward" unit="page">
        <paper-icon-button icon="icons:chevron-right"/>
    </pb-navigation>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
</app-toolbar>